<header class="page-header">
  <div class="content">
    {% include logo.html %}

    <nav>
      <a href="#" id="menutoggle" class="menu-toggle" data-id="menu"><svg class="icon icon-menu"><use xlink:href="{{site.baseurl}}/styles/symbol-defs.svg#icon-bars"></use></svg></a>
      <ul class="primary" role="navigation" id="menu">
        <li class="about"><a href="/about-your-dentist.html">About Your Dentist</a></li>
        <li class="payment-options"><a href="#">Payment Options</a></li>
        <li class="newpatients"><a href="#">New Patients</a></li>
      </ul>
      <ul class="utility">
        <li class="location">
          <a href="#">
            <div class="label address">
              <div class="street">{{site.office_meta.address}}</div>
              <span class="city">{{site.office_meta.city}}</span>,
              <span class="state">{{site.office_meta.state[1]}}</span>
              <span class="zip">{{site.office_meta.zip}}</span>
            </div>
            <svg class="icon icon-map-marker"><use xlink:href="{{site.baseurl}}/assets/styles/symbol-defs.svg#icon-map-marker"></use></svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>