<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{page.title}} |
    {% endif %}
    {{site.office_meta.name}} | Dentist | {{site.office_meta.city}}, {{site.office_meta.state[1]}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="{{ "/assets/styles/default.css" | relative_url }}" rel="stylesheet">
  <link href="{{site.baseurl}}/assets/styles/themes/{{site.site_theme.file}}/theme.css" rel="stylesheet">
</head>