<ul class="social-icons">
{% if site.social.facebook %}
  <li><a href="#" title="Facebook"><svg class="icon icon-facebook"><use xlink:href="{{ "/assets/styles/symbol-defs.svg#icon-facebook" | relative_url }}"></use></svg></a></li>
{% endif %}
{% if site.social.twitter %}
  <li><a href="#" title="Twitter"><svg class="icon icon-twitter"><use xlink:href="{{ "/assets/styles/symbol-defs.svg#icon-twitter" | relative_url }}"></use></svg></a></li>
{% endif %}
{% if site.social.instagram %}
  <li><a href="#" title="Instagram"><svg class="icon icon-instagram"><use xlink:href="{{ "/assets/styles/symbol-defs.svg#icon-instagram" | relative_url }}"></use></svg></a></li>
{% endif %}
{% if site.social.linkedin %}
  <li><a href="#" title="LinkedIn"><svg class="icon icon-linkedin"><use xlink:href="{{ "/assets/styles/symbol-defs.svg#icon-linkedin" | relative_url }}"></use></svg></a></li>
{% endif %}
</ul>
