<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="page-home">

  {% include header.html %}

    <main class="page-content">
      {% include welcome.html %}

      <section class="specials">
        <div class="content">
          <article class="new-patient-special">
            <header>
              <h2>New Patient Special</h2>
              <span>&ndash;</span>
              <h3>$59 Cleaning, Exam &amp; X-rays</h3>
            </header>
            <p>Call our office today for more information or <a href="#">make an appointment now</a></p>
          </article>
        </div>
      </section>

      <section class="knowledge-center">
        <div class="content">
          <h2>Knowledge Center</h2>
          <ul class="menu">
            <li>
              <h3><a href="#">Teeth Whitening</a></h3>
              <ul>
                <li><a href="#">Zoom!</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Digital X-Ray</a></h3>
              <ul>
                <li><a href="#">Digital X-Ray</a></li>
                <li><a href="#">CEPH X-Ray</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dental Care</a></h3>
              <ul>
                <li><a href="#">Cold Sore Treatment</a></li>
                <li><a href="#">Comprehensive Exams</a></li>
                <li><a href="#">Oral Cancer Screening</a></li>
                <li><a href="#">Periodontal / Gum Disease Treatment</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Cosmetic Dentistry</a></h3>
              <ul>
                <li><a href="#">Invisalign</a></li>
                <li><a href="#">Composite White Fillings</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Restorative Dentistry</a></h3>
              <ul>
                <li><a href="#">Extractions</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Comfort Dentistry</a></h3>
              <ul>
                <li><a href="#">Gentle, Professional Cleanings</a></li>
                <li><a href="#">Nitrous Oxide</a></li>
                <li><a href="#">Oral Sedation</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Orthodontics</a></h3>
              <ul>
                <li><a href="#">Braces</a></li>
                <li><a href="#">Growth Modification Treatment</a></li>
                <li><a href="#">Orthodontic Retainers</a></li>
                <li><a href="#">Two-Phase Orthodontic Treatment</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Emergency Dental Care</a></h3>
            </li>
            <li>
              <h3><a href="#">Crowns</a></h3>
              <ul>
                <li><a href="#">Dental Crowns</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dental Implants</a></h3>
              <ul>
                <li><a href="#">Dental Implants</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Endodontics</a></h3>
              <ul>
                <li><a href="#">Root Canal Therapy</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dentures</a></h3>
              <ul>
                <li><a href="#">Traditional vs Premium</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Oral Surgery</a></h3>
              <ul>
                <li><a href="#">Wisdom Teeth Removal</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Other Services</a></h3>
              <ul>
                <li><a href="#">Mouth Guards</a></li>
                <li><a href="#">Night Guards</a></li>
                <li><a href="#">Sleep Apnea</a></li>
                <li><a href="#">TMJ/TMD Treatment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      {% include book-appointment-inline.html %}

      <section class="specials">
        <div class="content">
          <article class="ortho-consultation">
            <header>
              <h2>FREE</h2>
              <span>&ndash;</span>
              <h3>Orthodontic Consultation</h3>
            </header>
            <p>Call our office today for more information or <a href="#">make an appointment now</a></p>
            <small>New Patients Only. Offer not to be applied toward account balances or dental services already delivered and not in conjunction with any other offers, discounts, or reduced-fee plans.</small>
          </article>
        </div>
      </section>

      <section class="copy-about">
        <div class="content">
          <div class="copy">
            <p>Highland Family Dentistry is a hometown dental practice located in Highland, IL specializing in comprehensive dentistry for the entire family. Our practice places a premium on excellent service, quality care and patient convenience.</p>

            <h3>Our Services</h3>
            <p>With an emphasis on lifetime preventative care in Highland, IL, we offer a full range of dental services to meet the individual needs and preferences of each patient. From routine cleanings, to complete smile makeovers, we utilize the latest dental techniques to give our patients the most up-to date service.</p>

            <h3>Our Atmosphere</h3>
            <p>At Highland Family Dentistry we designed our office with our patients in mind. By combining a calm atmosphere with modern technology, we have created a place where our patients in Highland receive the quality of dental care they need and deserve. The moment you walk in our front door, our team will make you feel comfortable, secure and cared for. Our state-of-the art facility has the latest equipment so we can offer you the most advanced treatment options.</p>

            <h3>Our Team</h3>
            <p>Our team of dental professionals has undergone a series of continuing education courses to keep us up-to-date on the latest dental techniques and industry standards. At Highland Family Dentistry we give each patient personal, one-on-one attention to explain procedures, listen to concerns and answer questions. Learn more.</p>

            <h3>Our Philosophy</h3>
            <p>Highland Family Dentistry strives to provide lifetime care to the Highland area, because oral health is integral to overall health. Our philosophy is to provide care that will be in your best interest now and in the years to come so you have a smile that will last a lifetime!</p>

            <p>We welcome you to make Highland Family Dentistry in Highland, IL your dental home. Make an appointment for your smile consultation by calling 618-882-6405, or by clicking here.</p>
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>