<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="page-home">

  {% include header.html %}

    <main class="page-content">
      {% include welcome.html %}

      <section class="specials">
        <div class="content">
          <article class="new-patient-special">
            <header>
              <h2>New Patient Special</h2>
              <span>&ndash;</span>
              <h3>$59 Cleaning, Exam &amp; X-rays</h3>
            </header>
            <p>Call our office today for more information or <a href="#">make an appointment now</a></p>
          </article>
        </div>
      </section>

      <section class="knowledge-center">
        <div class="content">
          <h2>Knowledge Center</h2>
          <ul class="menu">
            <li>
              <h3><a href="#">Teeth Whitening</a></h3>
              <ul>
                <li><a href="#">Zoom!</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Digital X-Ray</a></h3>
              <ul>
                <li><a href="#">Digital X-Ray</a></li>
                <li><a href="#">CEPH X-Ray</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dental Care</a></h3>
              <ul>
                <li><a href="#">Cold Sore Treatment</a></li>
                <li><a href="#">Comprehensive Exams</a></li>
                <li><a href="#">Oral Cancer Screening</a></li>
                <li><a href="#">Periodontal / Gum Disease Treatment</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Cosmetic Dentistry</a></h3>
              <ul>
                <li><a href="#">Invisalign</a></li>
                <li><a href="#">Composite White Fillings</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Restorative Dentistry</a></h3>
              <ul>
                <li><a href="#">Extractions</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Comfort Dentistry</a></h3>
              <ul>
                <li><a href="#">Gentle, Professional Cleanings</a></li>
                <li><a href="#">Nitrous Oxide</a></li>
                <li><a href="#">Oral Sedation</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Orthodontics</a></h3>
              <ul>
                <li><a href="#">Braces</a></li>
                <li><a href="#">Growth Modification Treatment</a></li>
                <li><a href="#">Orthodontic Retainers</a></li>
                <li><a href="#">Two-Phase Orthodontic Treatment</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Emergency Dental Care</a></h3>
            </li>
            <li>
              <h3><a href="#">Crowns</a></h3>
              <ul>
                <li><a href="#">Dental Crowns</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dental Implants</a></h3>
              <ul>
                <li><a href="#">Dental Implants</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Endodontics</a></h3>
              <ul>
                <li><a href="#">Root Canal Therapy</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Dentures</a></h3>
              <ul>
                <li><a href="#">Traditional vs Premium</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Oral Surgery</a></h3>
              <ul>
                <li><a href="#">Wisdom Teeth Removal</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">Other Services</a></h3>
              <ul>
                <li><a href="#">Mouth Guards</a></li>
                <li><a href="#">Night Guards</a></li>
                <li><a href="#">Sleep Apnea</a></li>
                <li><a href="#">TMJ/TMD Treatment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      {% include book-appointment-inline.html %}

      <section class="specials">
        <div class="content">
          <article class="ortho-consultation">
            <header>
              <h2>FREE</h2>
              <span>&ndash;</span>
              <h3>Orthodontic Consultation</h3>
            </header>
            <p>Call our office today for more information or <a href="#">make an appointment now</a></p>
            <small>New Patients Only. Offer not to be applied toward account balances or dental services already delivered and not in conjunction with any other offers, discounts, or reduced-fee plans.</small>
          </article>
        </div>
      </section>

      <section class="copy-about">
        <div class="content">
          <div class="copy">
            {{content}}
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>